$body-background-color: #99D6FF;
$background-color2: #2774A8;
$background-color3: #0C3C5C;
$background-color4: #002f43;
$scrollbar-background: #ffffff;
$input-focused-color: #005fa5;

$font: "Segoe UI";
$basic-font-color: white;
$error-color: red;
$placeholder-color: darkgray;

$button-hover-scale: 1.1;

$button-transition: 0.3s;
$timer-transition: 1.0s;

$timer-ease: 0;

$primary-border-radius: 20px;
$secondary-border-radius: 10px;
$scrollbar-border-radius: 10px;
$select-border-radius: 3px;

$select-height: 50px;
$select-margin: 20px 0 0 0;

$basic-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);

$bearbeiten-loeschen-size: 44px;
$button-mobile-size: 150px;

$primary-background: #99D6FF;
$button-background: #2774A8;
$headline-font: Rockwell;
$button-font: Segoe UI;
$footer-background: black;