@import "../variables.scss";


body {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  font-family: $font;
}


/* Bereich um alles */
section, form {
  width: 65vw;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}
form {
  margin-top: 0;
}


/* Grundformat für Überschrift, Passworteingabe und Weiter-Button */
#ueberschrift, input[type=password], #passwort, #button-weiter {
  background-color: $background-color2;
  font-size: 1.5vw;
  color: $basic-font-color;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Die Überschrift */
#ueberschrift {
  font-size: 3.2vw;
  width: 100%;
}

/* Text bei falscher Passworteingabe */
#passwort {
  color: $error-color;
  width: max-content;
  background-color: $background-color3;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 1.2vw;
}

/* Die Passworteingabe */
input[type=password] {
  width: 40vw;
  margin-top: 10px;
  transition: $button-transition;
}

/* Temporärer Text */
input[type=password]::placeholder {
  color: $placeholder-color;
  opacity: 0.5;
}

/* Layout wenn angeklickt */
input[type=password]:focus {
  background-color: $input-focused-color;
  box-shadow: $basic-shadow;
  transition: $button-transition;
}

/* Der Weiter-Button */
#button-weiter {
  font-size: 2.8vw;
  cursor: pointer;
  width: min-content;
  transition: $button-transition;
}

/* Hover-Modus */
#button-weiter:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
  box-shadow: $basic-shadow;
}


/* Anpassung für Mobile-Version */
@media (max-width: 991px) {
  body {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  section {
    width: 95vw;
  }
  #ueberschrift, input[type=password], #passwort, #button-weiter {
    font-size: 20px;
  }
  input[type=password] {
    min-width: 300px;
  }
}