@import "../variables.scss";


body {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  font-family: $font;
}


/* Bereich um alles */
.frage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 40px 0;
  width: 60vw;
}
#antworten {
  width: 50vw;
  align-self: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


/* Textarea Gestaltung */
.md-form {
  margin: 20px 0;
}
.form-control {
  font-size: 1.5vw;
  background-color: $background-color2;
  border: none;
  color: $basic-font-color;
  padding: 10px;
  text-align: center;
  transition: $button-transition;
}
#fragenName {
  font-size: 2vw;
}
.form-control::placeholder {
  color: $basic-font-color;
  opacity: 0.5;
}
.form-control:focus {
  background-color: $input-focused-color;
  border: none;
  color: $basic-font-color;
  box-shadow: $basic-shadow;
  transition: $button-transition;
}



/* Der Senden-Button */
.button {
  font-size: 1.5vw;
  color: $basic-font-color;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: $primary-border-radius;
  box-sizing: border-box;
  outline: none;
  left: 0;
  align-self: flex-end;
  background-color: $background-color3;
  cursor: pointer;
  width: 10vw;
  transition: $button-transition;
  margin: 20px 0 0 0;
}

/* Hover-Modus */
.button:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
  box-shadow: $basic-shadow;
}




/* Anpassung für Mobile-Version */
@media (max-width: 991px) {

  .frage {
    width: 95vw;
  }
  .form-control {
    font-size: 20px;
  }
  #fragenName {
    font-size: 25px;
  }
  .button {
    font-size: 20px;
    width: $button-mobile-size;
  }

  #antworten {
    width: 80vw;
  }
}