@import "../variables.scss";


body {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  font-family: $font;
}


/* Bereich um alles */
.frage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px 5px;
  width: 60vw;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


/* Select-Style */
select {
  margin: $select-margin 0 0 0;
  /* Browser-Eigenheiten entfernen */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  /* Abstände und transparenter Hintergrund */
  width: 100%;
  height: $select-height;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  background: $background-color2;
  color: $basic-font-color;
  font-size: 16px;
  font-weight: bold;
  /* Schatten, Ecken abrunden, Cursor */
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: $select-border-radius;
  outline: none;
  cursor: pointer;
}

#select-schwierigkeit {
  align-self: flex-start;
  left: 5vw;
}

#select-kategorie {
  right: 5vw;
  top: calc((#{$select-height} + #{$select-margin}) * (-1));
  align-self: flex-end;
}

/* Browser-Eigenheiten für IE entfernen */
select::-ms-expand {
  display: none;
}

/* Breite für Select */
.select-wrapper {
  width: 200px;
  position: relative;
}

/* Der Pfeil */
.select-wrapper::before {
  content: "\0076";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: calc(#{$select-height} / 2);
  color: $basic-font-color;
  pointer-events: none;
}

/* Style für einzelne Options */
select option {
  color: $basic-font-color;
}

select:focus::-ms-value {
  background-color: transparent;
}


/* Die Eingabefelder und Senden-Button */
input[type=text], #senden {
  background-color: $background-color2;
  font-size: 1.5vw;
  color: $basic-font-color;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: $primary-border-radius;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  left: 0;
}

/* Temporärer Text */
input[type=text]::placeholder {
  color: $placeholder-color;
}

/* Layout wenn angeklickt */
input[type=text]:focus {
  background-color: $input-focused-color;
}

/* Fragen-Eingabefeld */
#fragenName {
  width: 100%;
  margin: 20px 0;
}

/* Antworten-Eingabefeld */
.antwort {
  margin: 5px 0;
}

/* Bereich um Antwort-Eingabefeld und Radio-Button */
.custom-control {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Position des Radio-Buttons */
.custom-control-label::after, .custom-control-label::before {
  left: 1em;
  top: -1.5em;
  width: 50px;
  height: 50px;
}


/* Der Senden-Button */
#senden {
  align-self: flex-end;
  background-color: $background-color3;
  font-size: 1.5vw;
  cursor: pointer;
  width: min-content;
  transition: $button-transition;
  margin: 20px 0;
}

/* Hover-Modus */
#senden:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
}


/* Bereich um Plus- bzw. Minus-Button */
#plus-minus {
  align-self: flex-start;
}

/* Plus- und Minus-Button selbst */
#plus, #minus {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: $primary-border-radius;
  background-color: $background-color3;
  transition: $button-transition;
  margin: 0 5px;
}

/* Hover-Modus */
#plus:hover:enabled, #minus:hover:enabled {
  transform: scale($button-hover-scale);
  transition: $button-transition;
}


/* Anpassung für Mobile-Version */
@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }

  .frage {
    width: 98vw;
  }
  input[type=text], #senden {
    font-size: 20px;
  }

  .select-wrapper {
    width: 120px;
  }

  #antworten {
    width: 80vw;
    justify-content: left;
  }

  #plus, #minus {
    width: 70px;
    height: 70px;
  }
}