$body-background-color: #99D6FF;
$background-color2: #2774A8;
$background-color3: #0C3C5C;
$background-color4: #002f43;

$font: "Segoe UI";
$basic-font-color: white;

$button-hover-scale: 1.1;
$button-transition: 0.3s;

$primary-border-radius: 20px;
$secondary-border-radius: 10px;
$scrollbar-border-radius: 10px;


body {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  font-family: $font;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-thumb {
  background: $background-color3;
  border-radius: $scrollbar-border-radius;
}

::-webkit-scrollbar-thumb:hover {
  background: $background-color4;
}


/* Bereich um alles */
#fragen {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
}


/* Bereich um die Frage und die Bearbeiten- und Löschen-Buttons */
.frage {
  background-color: $background-color2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $primary-border-radius;
  padding: 10px;
  margin: 20px 5px;
}

/* Die Frage selbst */
.ue-frage {
  font-size: 1.8vw;
  color: $basic-font-color;
  margin: 0;
  width: 55vw;
}

/* Bereich um Bearbeiten- und Löschen-Button */
.button-bearbeiten-loeschen {
  display: flex;
  flex-direction: row;
}

/* Der Bearbeiten- und Löschen-Button */
.button-bearbeiten, .button-loeschen {
  border-radius: $secondary-border-radius;
  background-color: $background-color3;
  padding: 5px;
  width: 44px;
  height: 44px;
  margin-left: 5px;
  margin-right: 5px;
  transition: $button-transition;
}

.button-bearbeiten:hover, .button-loeschen:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
}

.button-loeschen {
  background: url("../Bilder/Loeschen.png");
  background-color: $background-color3;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  cursor: pointer;
  color: transparent;
  padding: 5px;
  width: 44px;
  height: 44px;
  border: none;
}


/* Bereich um die Hinzufügen- und Zurück-Buttons */
#button-hinzufuegen-zurueck {
  display: flex;
  justify-content: flex-end;
}

/* Der Hinzufügen- und Zurück-Button selbst */
.button {
  background-color: $background-color2;
  color: $basic-font-color;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: $primary-border-radius;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  margin-top: 80px;
  font-size: 1.8vw;
  cursor: pointer;
  width: min-content;
  transition: $button-transition;
  margin-left: 20px;
  align-self: self-end;
}

/* Der Hinzufügen- und Zurück-Button im Hover-Modus */
.button:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
}


/* Anpassung für Mobile-Version */
@media (max-width: 991px) {
  .frage {
    width: 80vw;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    background-color: $body-background-color;
  }
  .ue-frage {
    background-color: $background-color2;
    border-radius: $primary-border-radius;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    width: inherit;
    text-align: center;
  }

  #button-bearbeiten-loeschen {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #button-bearbeiten, #button-loeschen {
    border-radius: $secondary-border-radius;
    background-color: $background-color3;
    padding: 5px;
    width: 44px;
    margin-left: 20px;
    margin-right: 20px;
    transition: $button-transition;
  }


  #button-hinzufuegen-zurueck {
    display: flex;
    justify-content: center;
  }
  .button {
    font-size: 15px;
    width: 150px;
    margin: 50px 10px;
  }
}