@charset "UTF-8";
body {
  background-color: #99D6FF;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI";
}

/* Scrollbar */
::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0C3C5C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #002f43;
}

/* Bereich um alles */
#fragen {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: scroll;
}

/* Bereich um die Frage und die Bearbeiten- und Löschen-Buttons */
.frage {
  background-color: #2774A8;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 5px;
}

/* Die Frage selbst */
.ue-frage {
  font-size: 1.8vw;
  color: white;
  margin: 0;
  width: 55vw;
}

/* Bereich um Bearbeiten- und Löschen-Button */
.button-bearbeiten-loeschen {
  display: flex;
  flex-direction: row;
}

/* Der Bearbeiten- und Löschen-Button */
.button-bearbeiten, .button-loeschen {
  border-radius: 10px;
  background-color: #0C3C5C;
  padding: 5px;
  width: 44px;
  height: 44px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
}

.button-bearbeiten:hover, .button-loeschen:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.button-loeschen {
  background: url("../Bilder/Loeschen.png");
  background-color: #0C3C5C;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  cursor: pointer;
  color: transparent;
  padding: 5px;
  width: 44px;
  height: 44px;
  border: none;
}

/* Bereich um die Hinzufügen- und Zurück-Buttons */
#button-hinzufuegen-zurueck {
  display: flex;
  justify-content: flex-end;
}

/* Der Hinzufügen- und Zurück-Button selbst */
.button {
  background-color: #2774A8;
  color: white;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  margin-top: 80px;
  font-size: 1.8vw;
  cursor: pointer;
  width: min-content;
  transition: 0.3s;
  margin-left: 20px;
  align-self: self-end;
}

/* Der Hinzufügen- und Zurück-Button im Hover-Modus */
.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Anpassung für Mobile-Version */
@media (max-width: 991px) {
  .frage {
    width: 80vw;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    background-color: #99D6FF;
  }

  .ue-frage {
    background-color: #2774A8;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    width: inherit;
    text-align: center;
  }

  #button-bearbeiten-loeschen {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #button-bearbeiten, #button-loeschen {
    border-radius: 10px;
    background-color: #0C3C5C;
    padding: 5px;
    width: 44px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
  }

  #button-hinzufuegen-zurueck {
    display: flex;
    justify-content: center;
  }

  .button {
    font-size: 15px;
    width: 150px;
    margin: 50px 10px;
  }
}

/*# sourceMappingURL=style2.css.map */
