$body-background-color: #99D6FF;
$background-color2: #2774A8;

$font: "Segoe UI";
$basic-font-color: white;

$input-focused-color: #005fa5;
$placeholder-color: darkgray;

$button-hover-scale: 1.1;
$button-transition: 0.3s;



body {
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  font-family: $font;
}


/* Bereich um alles */
section {
  width: 55vw;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}


/* Grundformat für Überschrift, Passworteingabe und Weiter-Button */
#ueberschrift, input[type=password], #button-weiter {
  background-color: #2774A8;
  font-size: 30px;
  color: $basic-font-color;
  padding: 20px 30px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Die Überschrift */
#ueberschrift {
  font-size: 55px;
}

/* Die Passworteingabe */
input[type=password] {
  width: min-content;
}
/* Temporärer Text */
input[type=password]::placeholder {
  color: $placeholder-color;
}
/* Layout wenn angeklickt */
input[type=password]:focus {
  background-color: $input-focused-color;
}

/* Der Weiter-Button */
#button-weiter {
  font-size: 40px;
  cursor: pointer;
  width: min-content;
  transition: $button-transition;
}
/* Hover-Modus */
#button-weiter:hover {
  transform: scale($button-hover-scale);
  transition: $button-transition;
}