$primary-background: #99D6FF;
$button-background: #2774A8;
$headline-font: Rockwell;
$button-font: Segoe UI;
$footer-background: black;



body {
  background: $primary-background;
  width: 100%;
  overflow-x: hidden;
  margin:0;
}

*{
  margin:0;
}

#header{
  display: flex;
  justify-content: center;
  font-family: $headline-font;
  font-weight: bold;
  font-style: italic;
  font-size: 8.5vh;
}

h1 {
  margin:3vh;
}

.choose-category {
  background: $button-background;
  font-family: $button-font;
  color: white;
  border-radius: 1vw;
  font-size: 10vh;
  padding: 1.5vw;
  padding-left: 0.5vw;
  width: 30vw;
  outline:none;
  border: none;
  transition:0.3s;
}

.choose-category:hover {
  transform: scale(1.02);
  transition: 0.3s;
  background: #0C3C5C;
  cursor:pointer;
}


#noob-button, #medium-button, #pro-button {
  margin: 0.5vw;
}

#category-buttons{
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

#footer{
  background: $footer-background;
  position: relative;
  color:white;
  font-family: $button-font;

  width:100%;
}

#footheader{
  display:flex;
  justify-content: center;
  font-size: 5.5vh;
  margin: 0vh;
  font-weight: bold;
}

.contact-information{
  margin-left: 8vw;
}

.underinf{
  margin-left: 3.5vw;
  margin-top: 1.3vw;
  font-style: italic;
}

.footerminiheaders{
  font-size: 4vh;
  font-weight: bold;
}

#responsible-contact-details{
  margin-top: 1.95vw;
}

#allfootercontent{
  padding-bottom: 5vh;
}

#adminlink{
  height: 5vh;
  background: white;
  display:flex;
  justify-content: flex-end;
}

#adminlinkbutton{
  background:none;
  outline:none;
  border: none;
  border-left: black 1px solid;
  transition:0.3s;
}

#adminlinkbutton:hover{
  cursor:pointer;
  transform: scale(1.1);
}

