body {
  background: #99D6FF;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

* {
  margin: 0;
}

#header {
  display: flex;
  justify-content: center;
  font-family: Rockwell;
  font-weight: bold;
  font-style: italic;
  font-size: 8.5vw;
}

h1 {
  margin: 3vh;
}

.choose-category {
  background: #2774A8;
  font-family: Segoe UI;
  color: white;
  border-radius: 1vw;
  font-size: 10vh;
  padding: 1.5vw;
  padding-left: 0.5vw;
  width: 40vw;
  outline: none;
  border: none;
  transition: 0.3s;
  height: 25vh;
}

.choose-category:hover {
  transform: scale(1.02);
  transition: 0.3s;
  background: #0C3C5C;
  cursor: pointer;
}

#noob-button, #medium-button, #pro-button {
  margin: 0.5vw;
}

#category-buttons {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

#footer {
  background: black;
  position: relative;
  color: white;
  font-family: Segoe UI;
  width: 100%;
}

#footheader {
  display: flex;
  justify-content: center;
  font-size: 5.5vh;
  margin: 0vh;
  font-weight: bold;
}

.contact-information {
  margin-left: 8vw;
}

.underinf {
  margin-left: 3.5vw;
  margin-top: 1.3vw;
  font-style: italic;
}

.footerminiheaders {
  font-size: 4vh;
  font-weight: bold;
}

#responsible-contact-details {
  margin-top: 1.95vw;
}

#allfootercontent {
  padding-bottom: 5vh;
  flex-shrink: 0;
}

#adminlink {
  height: 5vh;
  background: white;
  display: flex;
  justify-content: flex-end;
}

#admin-div {
  display: flex;
  justify-content: flex-end;
}

#admin-button {
  margin-right: 5vw;
  padding: 3vh;
  background: white;
  border-radius: 1vw;
  font-style: Rockwell;
  outline: none;
  font-family: Segoe UI;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

#admin-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#contact-responsible {
  display: flex;
  flex-direction: row;
}

#onlycontact {
  display: flex;
  flex-direction: column;
}

#textline {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-top: 10vh;
  font-size: 6vh;
  margin-left: 8vw;
  font-family: Rockwell;
}

@media screen and (max-width: 960px) {
  #category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-category {
    font-size: 8vh;
    height: 18vh;
  }
}
@media screen and (max-width: 920px) {
  #category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-category {
    font-size: 6vh;
    height: 15vh;
  }

  #textline {
    font-size: 4.8vh;
  }
}
@media screen and (max-width: 720px) {
  #category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-category {
    font-size: 6vh;
    height: 15vh;
    width: 45vw;
  }

  #textline {
    font-size: 3.7vh;
  }
}
@media screen and (max-width: 600px) {
  #category-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-category {
    font-size: 6vh;
    height: 15vh;
    width: 45vw;
  }

  #footheader {
    font-size: 4.5vh;
  }

  #contact-responsible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #allfootercontent {
    text-align: center;
  }

  .underinf {
    margin: 0;
  }

  .contact-information {
    margin: 0;
  }

  #admin-div {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }

  #textline {
    margin-left: 0;
    margin-bottom: 5vh;
    margin-top: 11vh;
    white-space: nowrap;
    font-size: 4vh;
  }

  #admin-button {
    margin-right: 0;
  }

  .footerminiheaders {
    margin-top: 4vh;
  }
}

/*# sourceMappingURL=style.css.map */
